.layout{
    z-index: 3;
}
.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    border: 1px solid red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    opacity: 0.5;
}
.formContaiter{
    border: 1px solid red;
    margin: 0;
    position: fixed;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    background: aliceblue;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.formTitle{
    margin: 30px auto auto auto;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000;

}
.btn {
    background: #212529;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;

}

.btn:hover {
    background: #333;
}

.btn.active {
    background: #000;
    color: #fff;
}

.btnContainer{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 30px auto 0 auto;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    height: auto;
    margin: 30px auto;
    outline: 0;
    padding: 15px;
    width: 300px;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    -webkit-transition: .4s;
    transition: .4s;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    border-top: 2px solid #d2d9dd;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus {
    background: #d2d9dd;
    border-radius: 30px;
    border-top: none;
}

