.userCardContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 210px;
    align-items: center;
}
.userCardImage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/WalletCard.svg");
    background-size: cover;

}

.userCardMoney{
    margin: 30px auto 10px auto;
    font-weight: 700;
    font-size: 32px;
    z-index: 1;
}

.profitContainer{
    margin: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.upIcon{
    margin: auto;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    background-image: url("../../assets/UpIcon.svg");
    background-size: cover;
}

.profitText{
    margin: 0;
    font-size: 16px;
    color: #55FE66;
}