@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-width: 400px;
}

#root{
  width: 100%;
}